footer
    .content-stripe
      .reach-info
        article
          h2 OpenConTRIBUTE HQ
          p
            | Examplestr. 11 
            br
            |                 00000 Examplecity
          p
            | Examplestr. 12 
            br
            |                 11111 Examplecity
        ul
          li
            | E-mail:
            span.reach-contact
              a(href='mailto:some@mailing.de') some@mailing.de
          li
            | Tel.:
            span.reach-contact 0123/456789
          li
            | Fax.:
            span.reach-contact 0987/65432
      nav
        li
          a(href='/impressum' target='_self') Impressum
        li
          a(href='/contact' target='_self') Contact
        li
          a(href='/about' target='_self') About Us
        li
          a(href='/links' target='_self') Useful links
        li
          a(href='/story' target='_self') Our Story
      .copyright
        p OpenConTRIBUTE &copy; 2023