/*INTENSION*/
.intension label:not(.hidden) {
  display: block;
  margin-block: 10px;
  font-weight: bold;
  font-size: medium;
}

.project-name {
  padding: 35px;
  width: 60%;
  margin-bottom: 20px;
  background: linear-gradient(110deg, #ffffff00 90%, #ffffff 90.2%),
    linear-gradient(178deg, #ff8731 80%, #ffffff00 80.9%);
}

.project-name p {
  text-align: right;
  margin-right: 45px;
  transform: rotate(358deg);
  transform-origin: right;
}

.project-name span {
  color: white;
}

.project-summary {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.project-summary > div {
  padding-block: 39px;
  padding-inline: 70px 50px;
  background: linear-gradient(358deg, #ffffff00 90%, #ffffff 90.9%),
    linear-gradient(259deg, #ffffff00 90%, #ffffff 90.2%), linear-gradient(181deg, #f1a61e 90%, #ffffff00 90.9%);
}

.project-summary textarea {
  width: 300px;
  height: 100px;
}

.project-description {
  padding-left: 35px;
  margin-top: -80px;
}

.project-description textarea {
  width: 55%;
  height: 200px;
}

/*TYPE*/
section.type {
  background-color: #708090a8;
  margin-top: 25px;
  padding-block: 35px;
}

.type-card-container {
  margin-top: 20px;
}

.type-card-container ul {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  line-height: 0;
}

.type-card {
  width: 130px;
  min-height: 165px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding: 10px;
  color: beige;
}

.img-holder {
  display: block;
  width: 110px;
  border-radius: 50%;
  background-color: #f1a61e;
  border: 2px solid beige;
  cursor: pointer;
}

.type-card input:checked + .img-holder {
  border-start-end-radius: 10px;
}

.img-holder img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.type-card p {
  line-height: initial;
  margin-top: 10px;
}

input#custom-type {
  width: 110px;
  border-radius: 20px;
  margin: 0;
  margin-top: 10px;
  padding-inline: 10px;
  text-align: center;
}

.type-card input#other:checked ~ p {
  display: none;
}

.type-card input#other:checked ~ input#custom-type {
  display: block;
}

/*LOCATION*/
.location {
  height: 600px;
  margin-top: 25px;
}

.location .content-stripe {
  position: relative;
  height: 100%;
}

.location-descriptor {
  position: absolute;
  top: 0;
  width: 330px;
  padding: 20px;
  padding-right: 90px;
  background-color: #f1a61e;
  clip-path: polygon(0 0, 80% 0, 100% 50%, 80% 100%, 0 100%);
  z-index: 5;
}

.location-descriptor h2 {
  margin-bottom: 20px;
  text-align: center;
}

.location-descriptor p {
  padding-left: 25px;
}

.location-input {
  display: flex;
  margin-top: 20px;
}

.location-input input {
  margin: 0;
  padding-block: 5px;
  width: 90%;
  border-radius: 10px 0 0 10px;
  border: 1px solid gray;
}

.location-input button {
  width: 15%;
  border-radius: 9px;
  margin-left: -7px;
  border: 1px solid gray;
}

#map {
  width: 100%;
  height: 100%;
  background-color: azure;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 15% 100%);
  cursor: pointer;
}

/*MILESTONES*/
.milestones {
  margin-top: -50px;
}

.milestones img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.milestones .content-stripe {
  background-color: #a1abb6;
  clip-path: polygon(0 0, 85% 0, 75% 85%, 0 100%);
  padding: 40px;
  padding-bottom: 80px;
}

.milestone-bubbles {
  display: inline-block;
  margin: 20px 0 0 40px;
  width: 600px;
}

.milestone-bubbles ul {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.milestone-bubbles li {
  width: min-content;
  position: relative;
  cursor: pointer;
}

.milestone-bubbles img {
  border: 2px solid rgb(255, 255, 255);
}

.milestone-bubbles p {
  word-break: break-word;
  overflow-wrap: break-word;
}

.milestone-bubbles li:hover::before {
  content: '\2717';
  color: rgba(145, 145, 145, 0.931);
  position: absolute;
  top: 0;
  width: 80px;
  height: 80px;
  font-size: 50px;
  font-weight: 700;
  background-color: #e1e1e1b8;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.milestone-bubbles li::after {
  content: '';
  position: absolute;
  top: 40px;
  width: 80px;
  border: 2px solid white;
  z-index: -5;
}

.milestone-bubbles li:last-child::after {
  width: 0;
}

.milestone-inputs {
  margin-block: 30px;
  margin-left: 40px;
  display: flex;
  gap: 30px;
  align-items: center;
}

.milestone-inputs > label {
  display: block;
  width: 80px;
}

.milestone-inputs img {
  border: 2px solid rgb(0, 170, 20);
  cursor: pointer;
}

.milestone-name-input {
  display: flex;
  width: 40%;
}

.milestone-name-input input {
  margin: 0;
  padding-block: 5px;
  width: 85%;
  border: 1px solid gray;
}

.milestone-name-input button {
  width: 15%;
  border: 1px solid gray;
}

.milestones-info {
  font-size: 0.9em;
  font-style: italic;
}

/*RESOURCES*/
.resources {
  margin-bottom: 50px;
}

.resources h2 {
  text-align: right;
  margin-right: 25px;
}

.resources-icons {
  display: flex;
  justify-content: center;
}

.resources-icons li {
  width: 100px;
  display: inline-block;
  text-align: center;
  border-top: 3px solid transparent;
}

.resources-icons li.selected {
  border-color: blue;
}

.resources-icons .icon-holder {
  display: block;
  margin-top: 10px;
  opacity: 0.2;
  cursor: pointer;
}

.resources-icons input:checked + .icon-holder {
  opacity: 1;
}

.resources-icons li label {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 5px solid #26c4c1;
  border-radius: 50%;
  margin-top: 10px;
  cursor: pointer;
}

.resources-icons input:checked ~ label {
  background-color: #0a669c;
}

.resources-icons li img {
  width: 50px;
  height: 50px;
}

.resources-icons {
  margin-block: 50px;
}

.resources-details {
  display: flex;
  padding-inline: 70px;
}

.resources-details .settings {
  width: 300px;
  padding: 10px 40px 10px 0;
  flex-shrink: 0;
}

.option {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.priority .selection-bar {
  display: flex;
}

.priority label {
  display: inline-block;
  width: 25px;
  height: 15px;
  border: 1px solid black;
}

.priority label:not(:first-of-type) {
  border-left: none;
}

.priority label:has(input:checked) {
  background-color: rgb(14, 70, 149);
}

.limit input {
  display: inline;
  margin: 0;
  width: 80px;
  border: 1px solid #cbcbcb;
}

.authenticate input {
  margin: 0;
  width: 20px;
  height: 20px;
}

.resources-details .notes {
  width: 100%;
}

.notes textarea {
  width: 100%;
  height: 100%;
}

.control-btn {
  margin-left: 50px;
  padding: 10px 20px;
}

.resources-user-info {
  margin-inline: 70px;
  line-height: 2;
  height: 200px;
}

.resources-user-info p {
  padding: 10px 20px;
  border-left: 5px solid #26c4c1;
}

/*DEADLINE*/
.deadline {
  position: relative;
  z-index: 5;
}

.deadline-bg {
  position: absolute;
  width: calc((100% - 1024px) / 2 + 400px);
  height: 100%;
  right: 0;
  clip-path: polygon(0 50px, 100% 0, 100% 100%, 30px calc(100% - 30px));
  background-color: #cbcbcb;
  z-index: -5;
}

.deadline .content-stripe {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 60px 25px;
}

.deadline .header span {
  text-align: left;
}

.deadline input {
  margin: 40px 90px 0 0;
  border: 1px solid #cbcbcb;
  padding: 10px;
}

/*MEDIA*/
.media {
  position: relative;
  margin-top: -150px;
}

.media .content-stripe {
  padding: 80px 25px 25px;
}

.media-bg {
  position: absolute;
  width: calc((100% + 1024px) / 2 + 100px);
  height: 100%;
  left: 0;
  clip-path: polygon(0 0, 75% 70px, 100% 100%, 0 100%);
  background-color: #ededed;
  z-index: -10;
}

.media .upload-panel {
  display: flex;
  margin-block: 25px;
}

.upload-media-col {
  padding: 20px;
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: space-between;
}

.upload-media-col .icon {
  width: 50px;
  height: 40px;
  object-fit: contain;
}

.media-container {
  display: flex;
  gap: 5px;
}

.media-frame {
  width: 120px;
  height: 120px;
  transform: skewX(-10deg);
  overflow: hidden;
  border: 1px solid grey;
}

.media-frame img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transform: scale(1.2) skewX(10deg);
  cursor: pointer;
}

.upload-info {
  text-align: center;
  font-style: italic;
  color: darkgray;
}

.express {
  font-weight: bold;
}

/*PUBLICATE*/
.publicate {
  position: relative;
  margin-top: 50px;
}

.publicate-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #f1a61e;
  clip-path: polygon(0 10%, calc((100% - 1024px) / 2) 0, 100% 80%, 100% 100%, 0 100%);
  z-index: -5;
}

.publicate .content-stripe {
  text-align: right;
}

.btn-publicate {
  padding: 20px 50px;
  font-size: 1.5em;
  margin-right: 50px;
  margin-bottom: 25px;
  border: 2px solid grey;
  border-radius: 15px;
}
