<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Karla:wght@200&family=Roboto:wght@300;400&display=swap");
    </style>
    <link rel="stylesheet" href="../../public/css/main.css" />
    <script src="../../public/js/hero.js" defer></script>
    <title>OpenConTRIBUTE</title>
  </head>
  <body>
    <div class="container">
      <header>
        <div class="header-top">
          <div class="content-stripe">
            <div class="logo">
              <a href="/">
                <img
                  src="../../public/img/static/logo_svg.svg"
                  alt="OpenConTRIBUTE logo"
                />
              </a>
            </div>
            <div class="user-nav">
              <nav>
                <a href="/login">LogIn</a>
              </nav>
            </div>
          </div>
        </div>
        <div class="hero">
          <div class="content-stripe">
            <div class="hero-message">
              <p>
                Con<span class="tail-text">ceive</span><br />
                <!-- Con<span>nect</span><br />
                                Con<span>struct</span><br />
                                Con<span>TRIBUTE</span> -->
              </p>
            </div>

            <div class="hero-searchbar">
              <label class="hidden" for="search">Searchfield</label>
              <input type="text" name="search" id="search" />
              <button class="btn-search">Find Project</button>
            </div>
          </div>
        </div>
      </header>

      <main>
        <section class="welcome">
          <div class="content-stripe">
            <article>
              <h1>Why</h1>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi,
                illum corporis rem minus alias, soluta distinctio accusantium
                nihil perspiciatis quibusdam explicabo cumque. Vero perferendis,
                similique quo hic tempore error fugit.
              </p>
            </article>
          </div>
        </section>

        <section class="cta">
          <div class="cta-bg-contribute cta-bg"></div>

          <div class="cta-bg-leader cta-bg"></div>

          <div class="content-stripe">
            <article class="contribute cta-box">
              <div class="cta-description">
                <h2>Contribute to a project</h2>
                <p>
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                  Iusto harum, animi sed, illum facere cumque odio incidunt non
                  dolorum dolore vero.
                </p>
              </div>

              <div class="cta-action">
                <button>Contribute</button>
              </div>
            </article>

            <article class="leader cta-box">
              <div class="cta-description">
                <h2>Be your project leader</h2>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Ratione iste perferendis.
                </p>
              </div>

              <div class="cta-action">
                <button>Create</button>
              </div>
            </article>
          </div>
        </section>

        <section class="impact">
          <div class="impact-bg"></div>

          <div class="content-stripe">
            <div class="impact-description">
              <h2>How your contribution impacts?</h2>

              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas,
                quis. Est voluptas illum ratione odit animi cumque consequuntur
                velit eius ad beatae quod dignissimos corporis maiores, ipsa
                voluptatem. <br />
                Natus, nesciunt? Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Laudantium accusamus itaque obcaecati totam
                dolores explicabo tenetur qui earum iusto recusandae, incidunt,
                excepturi illo eveniet? Magni voluptas numquam nesciunt hic
                odio? Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Reiciendis necessitatibus laudantium quibusdam neque nisi cum
                suscipit voluptatibus quo natus magni! Soluta culpa illo aperiam
                autem reprehenderit voluptates eum assumenda ipsam.
              </p>
            </div>
            <div class="impact-interaction">
              <button>More successful stories</button>
            </div>
          </div>
        </section>

        <section class="stat">
          <div class="stat-bg"></div>

          <div class="content-stripe">
            <div class="stat-content">
              <h2>Statistics</h2>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
              <div class="stat-table-holder">
                <article class="stat-table">
                  <div class="stat-table-bg">
                    <div class="stat-table-bg-img"></div>
                    <div class="stat-table-bg-shadow"></div>
                  </div>

                  <h3>Stat-1</h3>
                  <ul class="stat-1-box stat-list">
                    <li><span>Lorem Ipu</span><span>23</span></li>
                    <li><span>Lorem</span><span>458</span></li>
                    <li><span>LoremIp</span><span>4521</span></li>
                  </ul>
                </article>
                <article class="stat-table">
                  <div class="stat-table-bg">
                    <div class="stat-table-bg-img"></div>
                    <div class="stat-table-bg-shadow"></div>
                  </div>
                  <h3>Stat-2</h3>
                  <ul class="stat-1-box stat-list">
                    <li><span>Lorem Ipu</span><span>23</span></li>
                    <li><span>Lorem</span><span>458</span></li>
                    <li><span>LoremIp</span><span>4521</span></li>
                  </ul>
                </article>
                <article class="stat-table">
                  <div class="stat-table-bg">
                    <div class="stat-table-bg-img"></div>
                    <div class="stat-table-bg-shadow"></div>
                  </div>
                  <h3>Stat-3</h3>
                  <ul class="stat-1-box stat-list">
                    <li><span>Lorem Ipu</span><span>23</span></li>
                    <li><span>Lorem</span><span>458</span></li>
                    <li><span>LoremIp</span><span>4521</span></li>
                  </ul>
                </article>
              </div>
            </div>
          </div>
        </section>

        <section class="review">
          <div class="content-stripe">
            <div class="review-slider">
              <div class="review-box">
                <div class="review-box-head">
                  <svg viewBox="0 0 112 112" xmlns="http://www.w3.org/2000/svg">
                    <circle
                      cx="56"
                      cy="56"
                      r="50"
                      fill="transparent"
                      stroke-width="10"
                      stroke-dasharray="315"
                      stroke-dashoffset="110"
                      stroke="lightgreen"
                    />
                  </svg>
                  <img
                    src="../../public/img/users/test_user_01.jpg"
                    alt="user-photo"
                  />
                </div>

                <div class="review-box-name">Echan Celik</div>
                <div class="review-box-review">
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                  Repellendus, facere laudantium perspiciatis numquam cupiditate
                  nemo! Doloribus totam beatae
                </div>
              </div>

              <div class="review-box">
                <div class="review-box-head">
                  <svg viewBox="0 0 112 112" xmlns="http://www.w3.org/2000/svg">
                    <circle
                      cx="56"
                      cy="56"
                      r="50"
                      fill="transparent"
                      stroke-width="10"
                      stroke-dasharray="315"
                      stroke-dashoffset="200"
                      stroke="#b4c401"
                    />
                  </svg>
                  <img
                    src="../../public/img/users/test_user_02.jpg"
                    alt="user-photo"
                  />
                </div>

                <div class="review-box-name">Steve Trompthon</div>
                <div class="review-box-review">
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                </div>
              </div>

              <div class="review-box">
                <div class="review-box-head">
                  <svg viewBox="0 0 112 112" xmlns="http://www.w3.org/2000/svg">
                    <circle
                      cx="56"
                      cy="56"
                      r="50"
                      fill="transparent"
                      stroke-width="10"
                      stroke-dasharray="315"
                      stroke-dashoffset="70"
                      stroke="green"
                    />
                  </svg>
                  <img
                    src="../../public/img/users/test_user_03.jpg"
                    alt="user-photo"
                  />
                </div>

                <div class="review-box-name">Storenson Kihn</div>
                <div class="review-box-review">
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                  Repellendus, facere laudantium perspiciatis numquam cupiditate
                  nemo! Doloribus totam beatae nesciunt placeat sequ
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
      <footer>
        <div class="content-stripe">
          <div class="reach-info">
            <article>
              <h2>OpenConTRIBUTE HQ</h2>
              <p>
                Examplestr. 11 <br />
                00000 Examplecity
              </p>
              <p>
                Examplestr. 12 <br />
                11111 Examplecity
              </p>
            </article>
            <ul>
              <li>
                E-mail:
                <span class="reach-contact"
                  ><a href="mailto:some@mailing.de">some@mailing.de</a></span
                >
              </li>
              <li>
                Tel.:
                <span class="reach-contact">0123/456789</span>
              </li>
              <li>
                Fax.:
                <span class="reach-contact">0987/65432</span>
              </li>
            </ul>
          </div>

          <nav>
            <li>
              <a href="impressum.html" target="_self">Impressum</a>
            </li>
            <li>
              <a href="contact.html" target="_self">Contact</a>
            </li>
            <li>
              <a href="about.html" target="_self">About Us</a>
            </li>
            <li>
              <a href="links.html" target="_self">Useful links</a>
            </li>
            <li>
              <a href="story.html" target="_self">Our Story</a>
            </li>
          </nav>

          <div class="copyright">
            <p>OpenConTRIBUTE &copy; 2023</p>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
