doctype html

html
  head
    block head
      meta(charset='UTF-8')
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      style.
        @import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Karla:wght@200&family=Roboto:wght@300;400&display=swap");
      link(rel='stylesheet' href='/static/css/mini/main.css')
      link(rel="icon" href="/static/img/favicon.png" type="image/png icon")
      script(type="module" src="https://unpkg.com/axios/dist/axios.min.js")
      script(type="module" src="/static/js/modern/global.js") 
      script(nomodule src="/static/js/legacy/global.js")
      title OpenConTRIBUTE #{title}

  body
    .container
        .alert-window(class=`${alert ? "" : "hidden"} ${alertError ? "error" : ""}`)
          if alert
            p= alert
        // HEADER
        header
            include ../partials/_header
            
            block hero

        // CONTENT
        block content

        // FOOTER
        include ../partials/footer


