extends base

block append head 
  script(type="module" src="https://unpkg.com/axios/dist/axios.min.js")
  script(type="module" src='/static/js/signIn.js')
  script(type="module" src='/static/js/login.js')
  link(rel='stylesheet' href='/static/css/login.css')

block content
  main
    .auth
      .login-box
        svg(viewbox='0 0 130 100' xmlns='http://www.w3.org/2000/svg')
          polygon(points='0,0 130,0 100,100 0,100' fill='orange')
        .login-inter.login-inputs
          h1 Welcome back!
          form#login-form
            label.hidden(for='email') E-mail
            input#email(type='email' name='email' placeholder='email' required='')
            label.hidden(for='password') Password
            input#password(type='password' name='password' placeholder='password' required='')
            button Login
        .login-inter.inactive-display.hidden
          h1 Part of us?
          p Login to follow projects.
          button.to-login Proceed
      .signup-box
        svg(viewbox='0 0 130 100' xmlns='http://www.w3.org/2000/svg')
          polygon(points='30,0 130,0 130,100 0,100' fill='#b0ab81')
        .signup-inter.signup-inputs.hidden
          h1 Join us!
          form#signup-form
            label.hidden(for='email-sign') E-mail
            input#email-sign(type='email' name='email' placeholder='email' required='')
            label.hidden(for='password-sign') Password
            input#password-sign(type='password' name='password' placeholder='password' required='')
            label.hidden(for='sinfirm-password') Confirm password
            input#confirm-password(type='password' name='confirmPassword' placeholder='confirm password' required='')
            button Sign up
        .signup-inter.inactive-display
          h1 New here?
          p Just a click for you, but a big change for others. Join us.
          button.to-signup Proceed