extends project_base

block append head
  link(rel='stylesheet' href='/static/css/update.css')

block resource
  section.resources(data-mode="edit")
    .content-stripe
      h2.headline Resources needed
      span.edit-content Edit Mode
      .resources-elements
        ul.resources-icons
        .priority
          span Low priority
          span High priority
      .resources-details

block progress
  section.progress
    .content-stripe
      h2.headline Progress
      section
        form.add-new-feed
          .new-feed-title
            label.hidden(for='title') Title
            input#title(type='text' name='title' placeholder='Title' required='')
            input#milestone(type='checkbox' name='milestone')
            label(for='milestone') Milestone summary
          .new-feed-content
            label.hidden(for='message') Message
            textarea#text-content(name='message' rows='15' placeholder='Your message to your followers and participients.')
            ul.uploaded-media
              li
                label.add-media-button(for='upload-files')
                  span +
                input#upload-files.hidden(type='file' name='upload-files' multiple='')
          button.submit-new-feed Publish
      section.feed-thread
      div.feed-control
        button(data-next-page=1) Load more