extends project_base

block resource
  section.resources
    .content-stripe
      h2.headline Resources needed
      .resources-elements
        ul.resources-icons
        .priority
          span Low priority
          span High priority
      .resources-details
   
block progress
  section.progress
    .content-stripe
      h2.headline Progress
      section.feed-thread
      div.feed-control
        button(data-next-page=1) Load more